@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.App {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.widget-customization-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding: 20px; */
  background-color: #ededed;
  height: 100vh;
  width: 400px;
  justify-content: space-evenly;
}

input {
  margin-left: 10px;
  height: 25px;
  width: 50px;
  font-size: 15px;
}

.input {
  display: relative;
  margin: 20px;
  font-size: 15px;
  width: 300px;
}

.input-container{
  display: flex;
  /* border: 2px solid black; */
  padding: 4px;
}
.hex {
  height: 30px;
  width: 30px;
}

.title-toggle {
  margin: 20px;
}

.slider {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider .slider-btn {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider .slider-btn:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.slider input:checked + .slider-btn {
  background-color: #2196F3;
}

.slider input:focus + .slider-btn {
  box-shadow: 0 0 1px #2196F3;
}

.slider input:checked + .slider-btn:before {
  transform: translateX(26px);
}

#save-button {
  height: 25px;
  width: 350px;

}