.App {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
}

.widget-customization-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: purple;
  height: 100vh;
  width: 30vw;
}

.input {
  margin-bottom: 16px;
}

.title-toggle {
  margin: 20px;
}

.slider {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider .slider-btn {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider .slider-btn:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.slider input:checked + .slider-btn {
  background-color: #2196F3;
}

.slider input:focus + .slider-btn {
  box-shadow: 0 0 1px #2196F3;
}

.slider input:checked + .slider-btn:before {
  transform: translateX(26px);
}

