@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.App {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
}

.widget-customization-container{
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  /* padding: 20px; */
  background-color: #ededed;
  height: 100vh;
  width: 30vw;
  max-width: 400px;
  justify-content: space-evenly;
}


input {
  margin-left: 10px;
  height: 25px;
  width: 100%;
  font-size: 15px;
}

.input {
  display: relative;
  padding: 20px;
  font-size: 15px;
  width: calc(100% - 40px);
}

.input-container:not(#slider-container){
  display: flex;
  padding: 4px;
  border-radius: 10px;
  border: 2px solid gray;
  width: auto;
  max-width: 500px;
}

.textbox {
  width: 100%;
  border: 0px;
  background: #ededed;
  outline: none;
}

h2 {
  width: 100%;
  text-align: center;
}
.hex {
  height: 30px;
  width: 30px;
}

.title-toggle, .title-toggle label{
  margin: 20px;
}

.slider {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
}

.slider input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider .slider-btn {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider .slider-btn:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.slider input:checked + .slider-btn {
  background-color: #636363;
}

.slider input:focus + .slider-btn {
  box-shadow: 0 0 1px #2196F3;
}

.slider input:checked + .slider-btn:before {
  transform: translateX(26px);
}

#save-button {
  height: 30px;
  width: 100%;
  font-size: 15px;
  /* font-weight: bold; */
  border-radius: 10px;
  border: 2px solid black;
}

.url-display{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 27vw;
  overflow-x: hidden;
  /* border-radius: 10px; */
  border: 2px solid black; 
  height: 40px;
  margin: 0px;
  position: fixed;
  bottom: 0;

}


#url {
  flex-grow: 1;
  /* max-width: 22vw; */
  white-space: nowrap;
  overflow: hidden;
  font-size: 16px; 
}

.url-display img {
  width: 30px; /* Adjust the image width as needed */
  height: auto; /* Maintain aspect ratio */
}
