body{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 30px;
    padding-bottom: 0px;
    height:100vh;
    width: 100vw;
}

#web-title{
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

#header {
    display: flex;
    flex-direction: row;
    width: 75vw;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Keeps the header at the top of the viewport */
    top: 0; /* Positions it at the very top */
    left: 50%; /* Positions the header in the center */
    transform: translateX(-50%);
    padding: 30px 0;
    z-index: 1000;
}

#account-div {
    width: 75vw;
    border: 2px solid gray;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text-center.mb-3{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 2px solid gray;
    border-radius: 8px;
    padding: 2px 0;
    cursor: pointer;
}

.google-icon{
    height: 30px;
    width: 30px;
    margin-right: 8px;
}

.with-google{
    margin: 0;
}
  
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    line-height: 0.5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.form-label{
    line-height: 1;
}

.google-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.google-login {
    background-color: #ced4da;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    color: black;
}

.google-login:hover {
    background-color: #adb5bd;
}

.text-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#register{
    margin: 0px 5px;
    text-decoration: underline;
    color: #3680fd;
    cursor: pointer;
}

.alert-container{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.alert{
    margin: 0;
    padding: 0;
    transform: translate(0, -50%);
}