@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 30px;
    padding-bottom: 0px;
    height:100vh;
}

#web-title{
    font-family: 'Poppins', sans-serif;
    font-size: 33px;
}

.header {
    display: flex;
    flex-direction: row;
    width: 75vw;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Keeps the header at the top of the viewport */
    top: 0; /* Positions it at the very top */
    left: 50%; /* Positions the header in the center */
    transform: translateX(-50%);
    padding: 30px 0;
}

#account-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 2px solid pink; */
    width: 350px;
    position: absolute; /* Positions the buttons relative to the header */
    right: 0;
}

#mainpage-example{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 100px auto;
}

#create-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-icon{
    height: 25px;
    width: 25px;
    margin-left: 5px;
}

.btn.btn{
    text-transform: none;
    font-size: 18px;
}

#create-button{
    background-color:#4084f2;
    color: white;
}


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #1a1a1a; */
    color: black;
    line-height: 0.5;
    left: 0;
    bottom: 0;
    width: 100%;
}